body{
    background-color: #292929;
    color: grey ;
    padding:0px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 2px 0;
    overflow:hidden;
    background-color:#292929;
}
.form-control{
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}
#hello1{
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 5px 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}