
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="311616888813-st3qb63jeiofnl1n1ahsi8ncuo186ash.apps.googleusercontent.com">


<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
-->
<p>Logged out!</p>
<a href="{% url 'signin'%}">Click here to login again.</a>
<br>
<a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://bookmarks.pythonanywhere.com"> To Login Via a different account click here</a>
