<!DOCTYPE html>
<html>
<head>
	<title>Global Bookmark</title>
	<link rel="stylesheet" type="text/css" href="user.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
	<div id='menu-nav'>
  		<div id='navigation-bar'>
		    <ul>
		      <li class='menu-sub-nav current-item'><a href='/'><i class='fa fa-home'></i><span>Global Bookmark</span></a></li>
		      <li id="about" class='menu-sub-nav'><a href='#'><i class='fa fa-rocket'></i><span>Getting Started</span></a></li>
		      <li id="contact" class='menu-sub-nav'><a href='#'><i class='fa fa-book'></i><span>Contact</span></a></li>
		       <li id="user" class='menu-sub-nav'><a href='#'><i class='fa fa-user '></i><span>Sign Out</span></a></li>
		    </ul>
  		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<table style="width: 100%" id="unique">
		<tr>
			<td>
				<div id ="search1">
	<div id="search" class="input-group">
		 <input type="text" class="form-control" placeholder=" eg: tag:title " aria-describedby="basic-addon2">
		<span id="searchbutton" class="input-group-addon" id="basic-addon2">Search</span>
	</div>
</div>
			</td>
			<td>
				<button class="btn btn-dark" id="trash" title="Delete"><i class="fa fa-trash"></i></button>
			</td>
			<td>
				<button class="btn btn-dark" id="trash" title="Share"><i class="fa fa-share-alt"></i></button>
			</td>
		</tr>
<table width="15%" id="tag">
<tr>
			<th colspan="3">
			Tags :
		</th>
		</tr>
		<tr>
			<td height="40">
				<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a></h5>
</td>
			<td>
				<h5>
			<a href="#" class="badge badge-pill badge-primary">Primary</a>	</h5>
			</td>
			<td>
				<h5>
				<a href="#" class="badge badge-pill badge-primary">Primary</a>
			</h5>
			</td>
</tr>
<tr>
			<td height="40">
				<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
</td>
<td>
	<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
</td>
<td>
				<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
			</td>
</tr>
<tr>
			<td height="40">
	<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
</td>
<td>
	<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
</td>
<td>
				<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
			</td>
</tr>
<tr>
			<td height="40">
	<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
<td>
	<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
<td>
				<h5>
	<a href="#" class="badge badge-pill badge-primary">Primary</a>
</h5>
			</td>
</tr>
</table>
	<table style="width: 65%" id="bookmarks">
		<thead class="thead-inverse">
			<tr>
				<th>Tag:Title</th>
				<th width="10%">Frequency</th>
				<th width="20%">Date</th>
				<th width="10%">Delete</th>
				<th width="10%">Copy</th>
			</tr>
		</thead>
	{% for bookmark in object_list %}
		<tr class="ro">
			<td>
				{{ bookmark.title }}
			</td>
			<td>
				{{ bookmark.frequency}}
			</td>
			<td>
				{{ bookmark.date }}
			</td>
			<td>
				<button class="btn btn-link" id="trash" title="Delete"><i class="fa fa-trash-o"></i></button>
			</td>
			<td>
				<button class="btn btn-link" id="trash" title="copy to clipboard"><i class="fa fa-clipboard"></i></button>
			</td>
		</tr>
		{% end for %}
	</table>
	<table  id="index">
		<tr>
			<td width="63%">
				Number of bookmark per page:
			</td>
			<td>
				<button class="btn btn-dark" id="trash">10</button>
			</td>
			<td >
				<button class="btn btn-dark" id="trash" ">25</button>
			</td>
			<td>
				<button class="btn btn-dark" id="trash">50</button>
			</td>
		</tr>
	</table>
	{% for index in object_list %}

	{% end for %}
</body>
</html>