
<style>
    body{
    background-color: #292929;
    color: grey ;
    padding:0px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 2px 0;
    overflow:hidden;
    background-color:#292929;
}
.form-control{
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}
#hello1{
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 5px 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>


<head >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="font-size: 20px">
<center><h2>Add Bookmark</h2></center>
      <ul id="login-dp" class="dropdown-menu">
           <div class="row">
              <div class="col-md-12">

                 <form id="add">{% csrf_token %}
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Title</label>
                       </br>
                       <input type="text" class="form-control" id="title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Tag</label>
                       </br>
                       <input type="text" class="form-control" id="tag" placeholder="Other" required >
                                             <div class="help-block text-right">

                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Url</label>
                       </br>
                       <input type="text" class="form-control" id="url" placeholder="Url" required>
                                             <div class="help-block text-right">
                                               </br>
                    </div>
                    <div class="form">
                       <button type="submit" class="btn btn-primary btn-block" id= "hello1">Save</button>
                       <!--<button type="submit" class="btn btn-primary btn-block" id= "hello1">Cancel</button>-->
                    </div>
                 </form>
              </div>
           </div>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</body>

<script type="text/javascript">
    $(document).on('submit','#add',function(e){
    // action goes here!!
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/add',
            data:{
                'title':$('#title').val(),
                'tag':$('#tag').val(),
                'ur':$('#url').val(),
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            sucess:function(data){
                alert(data.no_of_bookmarks);
            },
        })
    });



</script>










